<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHWS0MfOwNzHXvzuzrfaaZ9AUsSr_9mtU</string>
	<key>GCM_SENDER_ID</key>
	<string>103428909949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookYukCook</string>
	<key>PROJECT_ID</key>
	<string>cook-yuk-cook</string>
	<key>STORAGE_BUCKET</key>
	<string>cook-yuk-cook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103428909949:ios:ac50378e6454080b73ba14</string>
</dict>
</plist>